<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Search Recipes</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-grid>
        <!--Search bar-->
        <ion-row>
            <ion-col col-12>
                <ion-searchbar>
                </ion-searchbar>
            </ion-col>
        </ion-row>
        <!--Sliding filters-->
        <ion-row>
            <ion-col>
                {{message}}
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-12>
                <ion-slides>
                    <ion-slide>
                        <ion-item>
                            <ion-label>Fish</ion-label>
                        </ion-item>
                        <ion-item>
                            <ion-label>Chicken</ion-label>
                        </ion-item>
                        <ion-item>
                            <ion-label>Beef</ion-label>
                        </ion-item>
                    </ion-slide>
                    <ion-slide>
                        <ion-item>
                            <p>Pork</p>
                        </ion-item>
                        <ion-item>
                            <p>Vegan</p>
                        </ion-item>
                        <ion-item>
                            <p>Vegetarian</p>
                        </ion-item>
                    </ion-slide>
                </ion-slides>
            </ion-col>
        </ion-row>

        <!--Dropdown select filters-->
        <ion-row>
            <ion-col col-11>
                <ion-item>
                    <ion-label>Filter by:</ion-label>
                    <!-- <ion-select [(ngModel)]="gender">
                        &lt;!&ndash; <ion-option value="f">Female</ion-option>
                         <ion-option value="m">Male</ion-option>&ndash;&gt;
                     </ion-select>-->
                </ion-item>
            </ion-col>
            <ion-col col-1>
                <ion-item>
                    <fa-icon icon="sync" slot="end" (click)="refreshSearch()"></fa-icon>
                </ion-item>
            </ion-col>
        </ion-row>

        <!--RecipesList with image on the side-->
        <!-- <ion-row>
             <ion-col>
                 <ion-list>
                     <ion-item *ngFor="let recipe of recipesArray">{{recipe.recipeTitle}}</ion-item>
                 </ion-list>

             </ion-col>
         </ion-row>-->
    </ion-grid>
    <!-----------------------------List of recipes-------------------------------------->

    <ion-card *ngFor="let recipe of recipesArray" (click) ="seeRecipe(recipe)" class="review">
        <img [attr.src]=recipe.recipeImageUrl style="max-width: 50px"/>
        <ion-card-content>
            <ion-card-title>{{recipe.recipeTitle}}</ion-card-title>
            <div>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </div>
        </ion-card-content>
    </ion-card>

   <!-- <ion-row>
        <ion-item *ngFor="let recipe of recipesArray" (click) ="seeRecipe(recipe)" class="review">
            <ion-col col-1>
                <img [attr.src]=recipe.recipeImageUrl style="max-width: 50px"/>
            </ion-col>
            <ion-col col-1>
                <div>{{recipe.recipeTitle}}</div>
                <div>
                    {{recipe.recipeTitle}}
                </div>
            </ion-col>
        </ion-item>
    </ion-row>-->

    <ion-infinite-scroll (ionInfinite)="loadMoreRecipes($event)">
        <ion-infinite-scroll-content *ngIf="length===0"
                loadingSpinner="bubbles"
                loadingText="Loading more recipes...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>