<ion-header>
    <ion-toolbar id="toolbar-header">
        <ion-button (click)="getPreviousPage()">
            <ion-icon name="arrow-back" style="width: 1rem;height: 2rem;"></ion-icon>
        </ion-button>
        <ion-title>Search Recipes</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-grid>
        <!--Search bar-->
        <ion-row>
            <ion-col col-12>
                <ion-searchbar placeholder="Search for ingredient"
                               [(ngModel)]="myInput"
                               [showCancelButton]="shouldShowCancel"
                               (ionChange)="onChange($event)"
                               (ionCancel)="onCancel($event)">
                </ion-searchbar>
            </ion-col>
        </ion-row>
        <ion-list *ngFor="let ingredient of ingredientsArray">
            <ion-row>
                <ion-col col-10>{{ingredient}}</ion-col>
                <ion-col col-2 style="text-align: right;">
                    <ion-checkbox color="primary" (ionChange)="checkboxOnChange(ingredient,$event)"></ion-checkbox>
                </ion-col>
            </ion-row>
        </ion-list>
    </ion-grid>
</ion-content>
