<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>My Fridge</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-grid>
        <!--Add more ingredients button-->
        <ion-row>
            <ion-col col-12>
                <ion-button expand="full" (click) ="searchForIngredient()">
                    Add more ingredients to fridge
                    <ion-icon name="add" style="padding-left: 30px"></ion-icon>
                </ion-button>
            </ion-col>
        </ion-row>
        <!--<ion-row>
            <ion-col col-12>
                <ion-item>{{finalFridgeIngredients}}</ion-item>
            </ion-col>
        </ion-row>-->
        <!--Single selection compnent-->
        <ion-row class="filter-delete-container" style="display: flex">
            <ion-col col-10>
                <ion-item>
                    <ion-label>Sort after</ion-label>
                    <ion-select value="default" okText="Okay" cancelText="Dismiss">
                        <ion-select-option value="default">Alphabetical</ion-select-option>
                        <ion-select-option value="type">Blonde</ion-select-option>
                    </ion-select>
                </ion-item>
            </ion-col>
            <ion-col col-2 style="text-align: right;">
                <i class="fa fa-trash-o">trash</i>
            </ion-col>
        </ion-row>
        <!--List of ingredients added to the fridge-->
        <ion-row>
            <ion-col col-12>
                <ion-list>
                    <div *ngFor="let ingredient of ingredientsArray" class="ingredient" style="display: flex; justify-content: space-between;">
                        <ion-label>{{ingredient}}</ion-label>
                        <ion-checkbox color="primary" style="border-radius: 0px !important;" (ionChange)="selectedIngredientsForSearch(ingredient,$event)"></ion-checkbox>
                    </div>
                </ion-list>
            </ion-col>
        </ion-row>
        <!--Search Recipe Button Bottom Screen-->
    </ion-grid>

</ion-content>

<!--Search Recipe Button Bottom Screen-->
<ion-footer>
    <ion-button expand="full">
        Search Recipe
    </ion-button>
</ion-footer>

